config wtp
	option country 'DE'
	option location 'Magdeburg'
	option name 'wtp-ap'
	option host '127.0.0.1'
# either use DTLS with ca, cert and key
#	option ca '/etc/wtp/ca.crt'
#	option cert '/etc/wtp/wtp.crt'
#	option key '/etc/wtp/wtp.key'
# or PSK
#	option identity 'myname'
#	option psk 'verysecret'
